/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=VT323&display=swap');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    background-color: #eff0f3;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px 40px 25px;
}

header a {
    font-size: 18px;
    text-decoration: none;
    color: #0d0d0d;
}

a:hover {
    transition: .3s;
    color:#f0944f;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

.encrypt-section {
    display: flex;
    flex-direction:column ;
    flex: 2;
    margin: 0 25px;
    padding-bottom: 24px ;
}

.decrypt-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 25px;
    padding-bottom: 24px;
}

#textarea-bg {
    background-image: url(./images/icons/Search.png);
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: 10em;
}

.textarea {
    flex: 2;
}

textarea {
    border: none;
    resize: none;
    background-color: white;
    margin-bottom: 25px;
    padding: 25px;
    border-radius: 25px ;
    outline: none;
}

button {
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}

h6 {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 8px;
}

.btn-encrypt {
    border: none;
    background-color:#f0944f;
    border-radius: 15px;
    width: 300px;
    height: 50px;
}

.btn-decrypt {
    border: 5px  solid #f0944f;
    border-radius: 15px;
    width: 300px;
    height: 50px;
}

.btn-copy {
    border: 5px  solid #f0944f;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    align-self: center;
}


.footer {
    display: flex;
    justify-content: center;
    background-color: #c0c0c2;
    font-size: 18px;
    padding: 18px;
}


@media screen and (max-width: 470px) {
    
    header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    body {
        display: flex;
        width: 100%;
        height: 150%;
    }

    .container {
        display: flex;
        flex: 2;
    }

    .encrypt-section {
        flex: 2;
        height: 800px;
    }

    .decrypt-section {
        flex: 1;
        height: 400px;
    }

    #textarea-bg {
        background-image: none;
    }
}